@media (prefers-reduced-motion: no-preference) /* Animations */
{
    .load-anim {
        animation: 1s ease 0s 1 loadPage;
    }
    .scroll-anim {
        animation: 1s ease 0s 1 scrollAnim;
    }
}

body {
    background-image: url('img/space_tile.gif');
    overflow-x: hidden !important;
}

.playFadeIn {
    /* idk how this works bruh */
}

::-webkit-scrollbar 
{
    width: 12px;
    background-color: black;
}
::-webkit-scrollbar-thumb
{
    transition-duration: .2s;
    background: linear-gradient(rgb(43, 0, 75), rgb(23, 0, 106));
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover
{
    transition-duration: .2s;
    background: linear-gradient(rgb(185, 98, 251), rgb(118, 103, 255));
}

/*#region Divs */
#main-div {    
    min-height: 100vh;
    height: 100%;
    padding: 0%;
    /* box-shadow: rgba(50, 50, 93, 0.667) 27px 13px 27px -5px, rgba(0, 0, 0, 0.432) 16px 8px 16px -8px !important; */
}

#title-div {
    padding: 5%;
    margin-bottom: 10%;
}
#about-me-div {
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 15%;
    padding-top: 100px;
    margin-top: -80px;
}
#projects-div {
    width: 85%;
    padding-top: 100px;
    margin-top: -80px;
}
#footer {
    background-color: black;
}
/*#endregion */

/*#region Images */
.project-img {
    margin-bottom: 2.5%;
}

.img-hover {
    transition-duration: .2s;
}
.img-hover:hover {
    transition-duration: .2s;
    width: 55px;
    filter:hue-rotate(-50deg)
}
/*#endregion */

/*#region Text */
#short-text {
    margin-left: 15%;
    width: 70%
}

.project-hover {
    transition-duration: .4s;
}
.project-hover:hover {
    transition-duration: .4s;
    font-size: 50px;
    filter:hue-rotate(90deg)
}
/*#endregion */

/*#region Projects */
.roka {
    color:rgb(255, 0, 0) !important;
}
.novaflow {
    color:rgb(179, 0, 255) !important;
}
.ambition {
    color:rgb(0, 255, 132) !important;
}
.hobby {
    color:rgb(221, 255, 0) !important;
}
/*#endregion */

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(3, 3, 3);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0; }

@media (max-width: 450px) /* Phones */
{
    #title-div {
        margin-top: 20% !important;
    }
    #title {
        font-size:xx-large !important;
    }
    .title-img {
        width: 80%;
    }
}

@keyframes loadPage {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 100;
    }
}
@keyframes scrollAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
